.carrosel{
    width: 100%;
    margin: 0px;
}

.TextPortifolio{
    text-align: center;
    font-size: 60px;
}

@media (max-width: 390px) {

    .TextPortifolio{
        font-size: 30px;
    }
}