.Header {
    position: relative; /* Adicione position: relative para poder posicionar o pseudo-elemento */
    /* height: 60vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

.Header::before {
    content: "";
    background-image: url("../../assets/summit.svg");
    opacity: 0.6; /* Define a opacidade da imagem de fundo */
    position: absolute; /* Posicione o pseudo-elemento em relação ao elemento pai */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Coloque o pseudo-elemento atrás do conteúdo */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}


.name{
    font-size: 70px;
    color: black;
}

.myphoto{
    width: 200px;
    height: 200px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media (max-width: 390px) {

    .name{
        font-size: 30px;
    }
    .subname{
        font-size: 20px;
        text-align: center;
    }
}